NEXT_PUBLIC_SUPABASE_URL=your_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key

# Optional Integrations
SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWORD=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
